<div class="container">

  <h1 mat-dialog-title>Aggiungi un Todo</h1>
<div class="todo-dialog-content" mat-dialog-content>
  <!-- <div>
    <label for="input-title">Inserisci Titolo</label>
    <input id="input-title" type="text" [(ngModel)]="newTodo.title">
  </div>
  <div>
    <label for="input-description">Inserisci Descrizione</label>
    <input id="input-description" type="text" [(ngModel)]="newTodo.description">
  </div>
  <div>
    <label for="input-priority">Inserisci Priorità</label>
    <input id="input-priority" type="number" [(ngModel)]="newTodo.priority">
  </div> -->
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput  [(ngModel)]="newTodo.title">
  </mat-form-field>

  <mat-form-field>
    <mat-label >Priority</mat-label>
    <mat-select [(ngModel)]="newTodo.priority">
      <mat-option value="1">Low</mat-option>
      <mat-option value="2">Middle</mat-option>
      <mat-option value="3">High</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="newTodo.description"></textarea>
  </mat-form-field>

</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="saveTodo()" mat-button mat-dialog-close cdkFocusInitial>save</button>
</div>

</div>

